/*styles go here*/


  #wrapper {
    width:95%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
  }

  img {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

h1 {
  color: #fff
}

p {
  color: #566a68;
  font-family: "Raleway", serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
}

body {
  background-color: #bbbbbb;
}

#link {
  color: #fff
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:hover, a:active {
    background-color: #fff;
    color: #ddd
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav a:link, a:visited {display:block;
  color: #bbb;
  background-color: #fff;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  padding: 20px;
  font-family: "Raleway", sans-serif;}

  #footer {
      color: #566a68;
      font-family: "Raleway", sans-serif;;
      font-size: .8em;
      padding-top: 30px;
  }

/*navigation styles*/

  .navigation{
  	list-style: none;
  	margin: 0;
    color: #bbb;
  	background:gray;
    font-family: "Raleway", sans-serif;
    padding: 0;
    display: flex;
  	flex-flow: column;
  }

  .navigation a {
  	text-decoration: none;
  	display: block;
  	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
  }

  .navigation li:last-of-type a{
    border-bottom: none;
  }

  /*Setting up flexible boxes*/

  .wrapper {
      display: flex;
      flex-flow: row wrap;
  }

  header, article, aside, footer {
    flex: 1 100%;
    padding: 10px;
  }

  img {
    display: none;
}

.logo{
  width: 10vh;
  display: block;
  justify-content: center;
}

/*styles that activate when larger than 600 px*/
@media screen and (min-width: 600px) {

    #wrapper {
        width: 100%;
    }

    img {
        display: block;
    }

    .logo {
      display: none;
    }
}

/*styles that activate when larger than 800 px*/
@media screen and (min-width: 800px) {

      .navigation {
          flex-flow: row wrap;
          justify-content: flex-end;
      }

      .navigation a {
          border: none;
      }

      .navigation a:hover {
      	background: black;
      }

      aside {
        flex: 1 auto;
      }

    article {
		    flex: 3 0px;
	     }

    .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    footer {
        order: 4;
    }



    article {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  #wrapper {
    width: 70%;
    max-width: 60em;
}

  #bar {
    padding: 5px;
    width: 100%;
}
  article {
    max-width: 40em;
    margin-left: 5em;
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 1.8em;
  }

  .poem{
    max-width: 55%;
    justify-content: center;
  }
  }
