/*styles go here*/


  #container {
    width:95%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
  }

  img {
    border: none;
    padding-top: 30px;
    padding-bottom: 30px;
  }

h1 {
  color: #fff
}

p {
  color: #566a68;
  font-family: "Roboto+Slab", serif;
}

h1 {
  font-family: "Sansita", sans-serif;
  font-size: 65px;
}

body {
  background-color: #bbbbbb;
}

#link {
  color: #fff
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:hover, a:active {
    background-color: #fff;
    color: #ddd
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav a:link, a:visited {display:block;
  color: #bbb;
  background-color: #fff;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  padding: 20px;
  font-family: "Raleway", sans-serif;}

  #footer {
      color: #566a68;
      font-family: "Raleway", sans-serif;;
      font-size: .8em;
      padding-top: 30px;
  }

/*navigation styles*/

  .navigation{
  	list-style: none;
  	margin: 0;
    color: #bbb;
  	background:gray;
    font-family: "Raleway", sans-serif;
    padding: 0;
    display: flex;
  	flex-flow: column;
  }

  .navigation a {
  	text-decoration: none;
  	display: block;
  	color: white;
      text-align:center;
      padding: 10px;
      border-bottom:1px solid black;
  }

  .navigation li:last-of-type a{
    border-bottom: none;
  }

  /*Setting up flexible boxes*/

  .wrapper {
      display: flex;
      flex-flow: row wrap;
  }

  header, article, aside, footer {
    flex: 1 100%;
    padding: 10px;
  }

/*styles that activate when larger than 800 px*/

  @media (min-width:800px) {

      .navigation {
          flex-flow: row wrap;
          justify-content: flex-end;
      }

      .navigation a {
          border: none;
      }

      .navigation a:hover {
      	background: black;
      }



      aside {
        flex: 1 auto;
    }

    article {
		flex: 3 0px;
	}

    .contact {
        order: 1;
    }

    article {
        order: 2;
    }

    .links {
        order: 3;
    }

    footer {
        order: 4;
    }


    article {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
  }


  .image {
      width: 45%;
      margin-right: 10px;
  }

  .contact {
      width: 45%;
  }

  .first {
      margin-top: 0;
  }
}
